@model SGM.Models.Observacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Observacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmwareVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmwareVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grabador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grabador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumSerieGrabador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumSerieGrabador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bpm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bpm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Simulador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Simulador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumSerieSimulador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumSerieSimulador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoftAnalisis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoftAnalisis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
